.container {
    line-height: 1.5em;
    font-size: 12;
    font-family: TimesNewRoman;
    width: 80%; 
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: justify 
}

h1 {
    text-align: center !important
}

h2 , h3{
    text-align: left
}

.nombres {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombres, th ,td {
    border: none;
    border-collapse: collapse;
    border:;
}

.palabras li {
    list-style-position: inside;;
}


.keywords li {
    list-style-position: inside;
}

.algoritmos { 
    list-style-position: inside;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column_int {
    text-align: center;
    border-collapse: collapse;
    border: none
}

.container_pc, th, td{
    border: 1px solid black;
    padding: 9px;
}


.container_pc {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.img {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}