.container {
    line-height: 1.5em;
    font-size: 12;
    font-family: TimesNewRoman;
    width: 80%; 
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: justify
}

h1, h2 {
    text-align: center !important
}

.nombres {
    display: flex;
    justify-content: center;
    align-items: center;
}

table td {
    padding: 10px
}